.depoimentos
{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 245, 233);
}

.slideContainer
{
   
    max-width: 1120px;
    width: 100%;
    background-color: gray;
    padding: 40px 0;
}
.card
{
    width: 320px;
    height: 350px;
    border-radius: 25px;
    background-color: #fff;
}   

.cardImage .cardImg{
    height: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 90%;
    border: 4px solid #fff;
}

.cardImage
{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    
    padding: 3px;  
}

.imageContent, .cardContent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.imageContent
{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
}

.overlay
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FF8033;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #FF8033;
}

.overlay::after
{
     border-radius: 0 25px 0 0;
    background-color: #fff;


}





.name
{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.comentario
{
    font-size: 14px;
    color: #707070;
    text-align: center;
}