   
.listanav
{
   
    color: #ff8033;
    display: flex;
    justify-content: center;
    background-image: url(INDAYARA-removebg-preview.png); 
}

.listanav li
{
    font-size: 20px;
    margin: 1rem;
}

.adjusted
{
    min-width: 1200px;
    max-width: 100%;
    margin-bottom: 20px;
}

.estrutura1
{
    display: flex;
 
}

.texto1 
{
  margin: auto;
  width: 1000px;
  justify-content: center;
  border:  outset 10px #ff8033;
  color: #ffff;
  background-color: rgba(127, 48, 01, 0.9);

}

.estrutura2
{
    display:flex;
    
}




.texto2
{
    margin: auto;
    width: 1000px;
    justify-content: center;
    border:  outset 10px #ff8033;
    color: #ffff;
    background-color: rgba(127, 48, 01, 0.9);
}

