header
{
    display: flex;          
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: rgba(127, 48, 01, 0.9);
    border-radius: 5px;
  
}

.listanav
{
   
    color: #ff8033;
    display: flex;
    justify-content: center;
    background-image: url(INDAYARA-removebg-preview.png); 
}

.listanav li
{
    font-size: 20px;
    margin: 1rem;
}

.adjusted
{
    min-width: 1200px;
    max-width: 100%;
    margin-bottom: 20px;
}

.texto1
{
    text-align: left;
    border: solid 2px #7f3001 ;
    
}
  