@import url(header.css);
@import url(sobre.css);
@import url(historiadastranças.css);
@import url(depoimentos.css);
@import url(trabalhos.css);
@import url(footer2.css);


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul
{
    list-style-type: none;

}

a
{
    text-decoration: none;
}
<<<<<<< Updated upstream
=======
<<<<<<< HEAD

.card
{
    align-items: center;
}

=======
>>>>>>> 5694bfb986cf224ee5dae945dc957646802a5c77
>>>>>>> Stashed changes
